@import 'tailwindcss';
#root {
margin: 0;
 max-width: 100% !important;
 background-color: rgb(243, 243, 247);
}
.seccions, li{
    cursor: pointer;
    margin-top: 1px;


}
.seccions:active{
    background-color: rgb(36, 114, 231);
    color: white!important;
}
.inputs{
    background-color: rgb(214, 231, 222);
}

.disabled{
    background-color: rgb(155, 156, 156) !important;
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    list-style-type: none;
    margin-top: 1px;
    
}