#root {
margin: 0;
 max-width: 100% !important;
 background-color: rgb(41, 41, 48);
}
.seccion{
    cursor: pointer;

}
.seccions:active{
    background-color: rgb(36, 114, 231);
    color: white!important;
}
.inputs{
    background-color: azure;
}